html{
    height: 100%
}
body{
    background-color: black;
    min-height: 100%;
}

.name{
    color: white;
    font-size: 100px;
    vertical-align: center;
}


nav{
    color:white;
}

.si{
    display: flex;
    margin: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
}

li{
    font-size: 20px;
}

.divMain {
    height: 100%;
    margin: 0 auto;
    max-width: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.about {
    margin-left: 19%;
    margin-right: 19%;
    color: white;
    font-size: 25px;
    line-height: 170%;
    margin-top: 35px;
}

.contact {
    margin-left: 19%;
    margin-right: 19%;
    color: white;
    font-size: 20px;
    line-height: 170%;
}

.styleNav {
    color: white;
    font-size: 20px;
    margin: 5px;
    margin-right: 20px;
}

.styleP {
    display: flex;
    justify-content: center;
}

.styleh1 {
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 170%;
    
}

#projects {
    padding: 150px;
}

#contactMe {
    margin-top: 55px;
}